<%= form_for(@kitten, html: {multipart: true}) do |f| %>
  <% unless @kitten.errors.count.zero? %>
    <div class="flash">
      <p><strong><%= pluralize(@kitten.errors.count, "error") %> prohibited this information from being saved:</strong></p>
      <ul>
        <% @kitten.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name%><br />
    <%= f.text_field :name%><br />
  </p>
  <p>
    <%= f.label :age%><br />
    <%= f.text_field :age%><br />
  </p>
  <p>
    <%= f.label :cuteness %><br />
    <%= f.text_field :cuteness%><br />
  </p>
  <p>
    <%= f.label :softness %><br />
    <%= f.text_field :softness%><br />
  </p>
  <p>
    <%= f.submit%>
  </p>
<% end %>
