<%= form_for(@kitten, html: {multipart: true}) do |f| %>
  <% unless @kitten.errors.count.zero? %>
    <div class="flash">
      <p><strong><%= pluralize(@kitten.errors.count, "error") %> prohibited this information from being saved:</strong></p>
      <ul>
        <% @kitten.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="column column-10">
      <%= f.label :name%><br />
    </div>
    <div class="column column-50">
      <%= f.text_field :name%><br />
    </div>
  </div>
  <br>
  <div class="row">
    <div class="column column-10">
      <%= f.label :age%><br />
    </div>
    <div class="column column-20">
      <div class="row">
        <div class="column column-80">
          <%= f.number_field :age %>
        </div>
        Months
      </div>
    </div>
  </div>
  <br>
  <%= f.label :cuteness %>
  <div class="row">
    <div class="row">
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:cuteness, "low") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:cuteness_low, "Low") %>
          </div>
        </div>
      </div>
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:cuteness, "medium") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:cuteness_medium, "Medium") %>
          </div>
        </div>
      </div>
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:cuteness, "high") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:cuteness_high, "High") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <%= f.label :softness %>
  <div class="row">
    <div class="row">
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:softness, "low") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:softness_low, "Low") %>
          </div>
        </div>
      </div>
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:softness, "medium") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:softness_medium, "Medium") %>
          </div>
        </div>
      </div>
      <div class="column column-20">
        <div class="row">
          <div class="column column-50">
            <%= f.radio_button(:softness, "high") %>
          </div>
          <div class="column column-50">
            <%= label_tag(:softness_high, "High") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <%= f.submit%>
  </div>
<% end %>
