<%= render 'layouts/header'%>
<br>
<div class="row">
  <div class="column column-50 column-offset-25">
    <div class="row">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "flash" %>
        <% end -%>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Softness</th>
        <th>Cuteness</th>
      </tr>
      <% @kittens.each do |kitten| %>
      <tr>
        <td><%= kitten.name %></td>
        <td><%= kitten.age %></td>
        <td><%= kitten.softness %></td>
        <td><%= kitten.cuteness %></td>
        <td><%= link_to 'Edit',edit_kitten_path(kitten)%></td>
        <td><%= link_to "Delete", kitten_path(kitten), class: "btn-floating red", method: :delete, data:
{confirm: "Really delete the kitten?"} %></td>
      </tr>
      <% end %>
    </table>
    <%= link_to 'Create new kitten', new_kitten_path%>
  </div>
</div>
<div class="row search-form">
  <div class="column column-50 column-offset-25">
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:user_id, "User ID : ") %>
    <%= text_field_tag(:user_id) %>
    <%= submit_tag("Search") %>
    <div class="row">
      <div class="column column-25 column-offset-75">
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row pic">
  <div class="column column-50 column-offset-25">
    <%= render_flickr_sidebar_widget('12864272@N02') %>
  </div>
</div>
