<p>Name : <b><%= @kitten.name %></b></p>
<p>Age : <%= @kitten.age %></p>
<p>Cuteness : <%= @kitten.cuteness %></p>
<p>Softness : <%= @kitten.softness %></p>

<%= link_to "Edit", edit_kitten_path(@kitten) %>
<%= link_to "Delete", kitten_path(@kitten), method: :delete, data:
{confirm: "Really delete the kitten?"} %><br />
<%= link_to "<< Back to Kittens List", kittens_path %>
