<%= render 'layouts/header' %>
<div class="row search-form">
  <div class="column column-50 column-offset-25">
    <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:user_id, "User ID : ") %>
    <%= text_field_tag(:user_id) %>
    <%= submit_tag("Search") %>
    <div class="row">
      <div class="column column-25 column-offset-75">
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row pic">
  <div class="column column-50 column-offset-25">
    <%= render :partial => 'flickr', :locals => { :photos => @photos } %>
  </div>
</div>
